.carousel-inner, .carousel-item {
  height: 90vh;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}

.container-fluid {
  padding: 0;
}

.carousel-caption {
  top: 30%;
}

.carousel-caption h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

.carousel-caption p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 100px;
  color: #FFF;
}

.main-btn {
  text-decoration: none;
  background-color: #65DAF9;
  color: #FFF;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5;
}

.main-btn:hover {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  border-color: #65DAF9;
}

@media(max-width: 768px) {
  .container {
    padding: 20px 0;
  }
  
  .carousel-inner, .carousel-item {
    height: auto;
  }

  .carousel-caption h2 {
    font-size: 28px;
  }

  .carousel-caption p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .carousel-caption {
    left: 10%;
    right: 10%;
  }
}

@media(max-width: 550px) {
  .slide {
    margin-top: 90px;
  }

  .carousel-caption {
    top: 5%;
  }

  .carousel-caption h2 {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .carousel-caption p {
    display: none;
  }

  .carousel-caption .main-btn {
    font-size: 10px;
    padding: 5px;
  }
}
