header, .navbar {
  background-color: #353D41;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 75px;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-brand a {
  margin-left: 20px;
  text-decoration: none;
  padding: 0;
  color: #FFF;
}

.navbar-brand a:hover {
  color: #FFF;
}

#navbar-links a {
  color: #FFF;
}

.navbar-nav {
  margin-right: 20px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}