.card-body {
  text-align: center;
}

@media(max-width: 768px) {
  .card-title {
    font-size: 14px;
  }

  .card-text {
    font-size: 12px;
  }
}

@media(max-width: 550px) {
  #team-area .col-md-3 {
    width: 50%;
    margin-bottom: 30px;
  }
}